<nav open class="navigation pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/">Main</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/quiz">Quiz</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/quiz_api">Quiz from API</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/add_question">Add question</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/add_category">Add category</a></li>
    </ul>
</nav>