
<nav open class="navigation pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/">Main</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/people/add/">add_person</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/people/add_raw/">add_raw_person</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/movies/add_genre/">add_genre</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/movies/add_movie/">add_movie</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/movies/">movies</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/movies/search/">search_movies</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/people/">people</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/people/class/">people-class</a></li>
    </ul>
</nav>